<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="Null" name="blackhole" />

    <target name="CommonLogger" xsi:type="File"
            fileName="{aspnet-appbasepath}\..\logs\${shortdate}.json"
            archiveFileName="{aspnet-appbasepath}\..\archive\archive.ALL.{#}.zip"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveDays="7"
            maxArchiveFiles="1000"
            archiveAboveSize="10485760"
            enableArchiveFileCompression="true"
            encoding="UTF-8" >
      <layout xsi:type="JsonLayout" includeAllProperties="True" excludeProperties="Comma-separated list (string)">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="&quot;${message}&quot;" encode="false"/>
        <attribute name="computer" layout="${machinename}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="exception" layout="&quot;${exception:format=shortType,message,method:separator=:maxInnerExceptionLevel=30:innerExceptionSeparator = INNER EXCEPTION:innerFormat=shortType,message,method}&quot;" encode="false"/>
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="System.Net.Http.HttpClient.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Info" writeTo="CommonLogger" />
  </rules>
</nlog>